<div class="container">
	<div class="row">
		<h1>{{electionName}} - Ballots</h1>
	</div>

	<div class="row">
		<!--Available ballots-->
		<div class="col-sm-4">
			<div class="list-group">
				<a href="javascript:void(0)" ng-repeat="ballot in ballots" class="list-group-item" ng-class="{active: ballot == selectedBallot}" ng-click="selectBallot(ballot)">Ballot {{ballot.ballotNumber}}
					<button class="btn btn-xs pull-right" ng-click="removeBallot(ballot)">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
					<span class="validationError errorInList" ng-show="!ballot.formal">Informal</span>
				</a>
			</div>
		</div>

		<!--Form for selected ballot-->
		<div class="col-sm-8">
			<form novalidate name="ballotForm" ng-submit="nextBallot()">
				<div ng-repeat="box in selectedBallot.boxes">
					<ng-form name="boxForm_{{box.candidateId}}">
						<label>{{box.candidateName}}</label>
						<input type="number" ng-model="box.vote" name="vote" required></input>
						<span class="validationError" ng-show="boxForm_{{box.candidateId}}.vote.$touched && boxForm_{{box.candidateId}}.vote.$error.required">Please enter a value</span>
						<br/>
					</ng-form>
				</div>
				<button type="submit" class="btn btn-default">Next</button>		
			</form>
		</div>
	</div>

	<!-- <form novalidate name="ballotForm">
		<div class="row">
			<div class="col-md-6 col-padded">
				<div ng-repeat="box in boxes">
					<label>{{box.candidateName}}</label>
					<input type="number" ng-model="box.vote" required></input>
					<br/>
				</div>
		
		<button type="submit" class="btn btn-default">Count the votes!</button>
	</form> -->
</div>