<div class="container">
	<div class="row">
		<h1>Elections</h1>
	</div>
	<div class="row">
		<div class="col-xs-12 col-centered col-padded">
			<a href="#/add-election" class="btn btn-lg btn-primary" role="button">New Election</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-centered col-padded">
			<a type="button" class="btn btn-xs btn-default" href="#/import">Import Election</a>
		</div>
	</div>

	<div class="row">
		<div class="center-block col-sm-4 noFloat">
			<div class="list-group">
				<div ng-repeat="election in elections" class="list-group-item">
					<a ng-href="#/edit-election/{{election}}">
					{{election}}</a>
					<button class="btn btn-xs pull-right" ng-click="deleteElection(election)">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
					<a class="btn btn-xs pull-right" ng-href="#/export/{{election}}">Export</a>
				</div>
			</div>
		</div>
	</div>
</div>